@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("fonts/icons.ttf?ofb3g5") format("truetype"), url("fonts/icons.woff?ofb3g5") format("woff"), url("fonts/icons.svg?ofb3g5#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-twitter:before {
  content: "";
}

._icon-fb:before {
  content: "";
}

._icon-Linkedin:before {
  content: "";
}

._icon-insta:before {
  content: "";
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 24px;
  font-family: "Heebo";
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  color: #21243d;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

.header {
  z-index: 100;
}

.header__content {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.menu__link._active {
  color: #ff6464;
}

.icon-menu {
  display: none;
}

.footer {
  text-align: center;
  padding: 50px 0;
}

.footer__social {
  margin: 0px 0px 25px 0px;
}

.hello {
  padding: 38px 0px 70px 0px;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 18px 115px 0px 0px;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

.hello__title {
  margin: 0px 0px 20px 0px;
}

.hello__text {
  margin: 0px 0px 34px 0px;
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 241px;
          flex: 0 0 241px;
  height: 241px;
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0 0 #edf7fa;
          box-shadow: -5px 13px 0 0 #edf7fa;
  overflow: hidden;
}

.recent-posts {
  background-color: #edf7fa;
  padding: 25px 0px 13px 0px;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.recent-posts__title {
  padding: 0px 20px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.recent-posts__link {
  white-space: nowrap;
  font-size: 16px;
  color: #00a8cc;
  line-height: 23px;
}

.recent-posts__items {
  margin: 0 -10px;
}

.recent-posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin: 0px 0px 17px 0px;
}

.recent-post {
  height: 100%;
  background-color: #ffffff;
  padding: 20px 40px 30px 20px;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}

.recent-post *:last-child {
  margin-bottom: 0;
}

.recent-post__title {
  display: inline-block;
  color: inherit;
  font-weight: 700;
  margin: 0px 0px 27px 0px;
  font-size: 26px;
  line-height: 146.1538461538%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0px 0px 21px 0px;
}

.recent-post__info span {
  margin: 0 10px;
}

.recent-post__text {
  margin: 0px 0px 15px 0px;
}

.featured-works {
  padding: 30px 0px 80px 0px;
}

.featured-works__title {
  margin: 0px 0px 30px 0px;
}

.works__item {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.works__item:last-child {
  margin-bottom: 0;
}

.works__image {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
  overflow: hidden;
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works__title {
  color: inherit;
  font-size: 30px;
  display: inline-block;
  font-weight: 700;
  line-height: 146.6666666667%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0px 0px 15px 0px;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
}

.works__year {
  color: #ffffff;
  background-color: #142850;
  font-weight: 900;
  font-size: 18px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding: 0px 10px;
}

.works__category {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 145%;
  color: #8695a4;
  margin: 0px 0px 0px 25px;
}

.blog {
  padding-bottom: 50px;
}

.blog__title {
  margin: 0px 0px 55px 0px;
}

.blog__item {
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.blog__item:last-child {
  margin: 0px 0px 0px 0px;
}

.blog__artical-name {
  color: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 146.6666666667%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 145%;
  margin: 0px 0px 6px 0px;
}

.blog__separator {
  margin: 0 10px;
}

.blog__category {
  color: #8695a4;
}

.blog__text {
  padding: 0px 70px 0px 0px;
}

.works__items {
  padding-bottom: 60px;
}

.works__main-title {
  margin: 0px 0px 40px 0px;
}

.article {
  max-width: 700px;
  padding: 0 10px 30px;
  margin: 0 auto;
}

.article__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 147.0588235294%;
  margin: 0px 0px 30px 0px;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 23px 0px;
}

.article__year {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff7c7c;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding: 0px 10px;
}

.article__category {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 145%;
  margin: 0px 0px 0px 17px;
}

.article__text p {
  margin: 0px 0px 20px 0px;
}

.article__text img {
  max-width: 100%;
  margin: 0px 0px 30px 0px;
}

.title {
  font-weight: bold;
  font-size: 44px;
  line-height: 136.3636363636%;
}

.text,
.article__text p {
  font-size: 16px;
}

.title-posts {
  font-size: 22px;
}

.btn {
  background-color: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  min-height: 47px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  -webkit-transition: background-color 0.4s ease 0s;
  -o-transition: background-color 0.4s ease 0s;
  transition: background-color 0.4s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 90px 0px 0px 0px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  font-size: 30px;
  color: inherit;
  margin: 0 18px;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li {
    margin: 0px 0px 0px 33px;
  }

  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .works__image {
    min-height: 180px;
  }

  .works__body {
    padding: 0px 0px 0px 18px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #ff6464;
  }

  .recent-post__title:hover {
    color: #ff6464;
  }

  .works__title:hover {
    color: #ff6464;
  }

  .works__category {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .works__category:hover {
    color: #000000;
  }

  .blog__artical-name:hover {
    color: #ff6464;
  }

  .social__item {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .social__item:hover {
    color: #ff6464;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #c95151;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }

  .hello {
    padding: 0px 0px 70px 0px;
  }

  .hello__content {
    padding: 18px 50px 0px 0px;
  }

  .page {
    padding: 30px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    height: 50px;
  }

  .menu__body {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.93);
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    font-size: 30px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 30px 0;
  }

  .hello {
    padding: 0px 0px 60px 0px;
  }

  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hello__content {
    padding: 0px 0px 0px 0px;
  }

  .hello__title {
    margin: 0px 0px 15px 0px;
  }

  .hello__text {
    padding: 0 15px;
    margin: 0px 0px 27px 0px;
  }

  .hello__avatar {
    width: 170px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    margin: 0px 0px 40px 0px;
  }

  .recent-posts {
    padding: 25px 0px 23px 0px;
  }

  .recent-posts__link {
    display: none;
  }

  .recent-post {
    padding: 12px 20px 20px 19px;
  }

  .recent-post__title {
    margin: 0px 0px 12px 0px;
    font-size: 22px;
  }

  .recent-post__info {
    font-size: 16px;
    margin: 0px 0px 19px 0px;
  }

  .featured-works {
    padding: 30px 0px 30px 0px;
  }

  .featured-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .featured-works__items .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0px 18px 0px 0px;
  }

  .featured-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .works__image {
    padding: 0px 0px 60% 0px;
    margin: 0px 0px 17px 0px;
  }

  .works__title {
    font-size: 24px;
  }

  .works__year {
    font-size: 16px;
  }

  .works__category {
    font-size: 16px;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__title {
    margin: 0px 0px 30px 0px;
  }

  .blog__item {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
  }

  .blog__artical-name {
    font-size: 26px;
  }

  .blog__info {
    font-size: 16px;
  }

  .works__items {
    padding-bottom: 30px;
  }

  .works__main-title {
    margin: 0px 0px 23px 0px;
  }

  .article__title {
    font-size: 30px;
  }

  .article__category {
    font-size: 18px;
  }

  .title {
    font-size: 32px;
    line-height: 125%;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .page {
    padding: 22px 0px 0px 0px;
  }
}